
.GuildEditor {
}

.GuildEditor-showBlockBorders [data-block=true] {
  border: 3px inset blue;
}

/*.GuildEditor-editor a {
  padding: 0 10px 0 10px;
}
.GuildEditor-editor a:before,
.GuildEditor-editor a:after {
  text-decoration: none;
  position: absolute;
}
.GuildEditor-editor a:before {
  content: '<';
  margin-left: -10px;
}
.GuildEditor-editor a:after {
  content: '>';
}*/

/* underline links so they look more separated */
.GuildEditor-editor a {
  text-decoration: underline;
  color: #ffc300;
}

.GuildEditor-editor {
  padding: 5px;
  background-color: #2D2C2C;
  color: white;
  font-size: 16px;
  resize: vertical;
  overflow-y: scroll;
  /*Init height*/
  height: 200px;
}

.InlineStyleControls,
.HeaderStyleControls,
.AlignStyleControls,
.ListStyleControls,
.FontStyleControls,
.HistoryControls,
.SizeStyleControls {
  display: inline-block;
  margin-right: 10px;
}


.align-center,
.align-center > div {
  text-align: center;
}
.align-right,
.align-right > div {
  text-align: right;
}
.align-justify,
.align-justify > div {
  text-align: justify;
}

/* ColorPicker */

.ColorPicker-colorRow {
  line-height: 10px;
}

.ColorPicker {
  position: relative;
  height: 60px;
}
.ColorPicker-colorSwatch {
  display: inline-block;
  cursor: pointer;
}
.ColorPicker-colorSwatch:hover {
  border: 3px solid black;
}
.ColorPicker-colorSwatch:active {
  border: 3px solid white;
}

/* Enlarge active swatches  */
.ColorPicker-colorRow {
}
.ColorPicker-colorSwatch {
  position: absolute;
}
.ColorPicker-colorSwatch-active {
  z-index: 1;
}

/* Draw X on active swatch */
.ColorPicker-colorSwatch {
  overflow: hidden;
}
.ColorPicker-colorSwatch-active:before,
.ColorPicker-colorSwatch-active:after {
  content: '';
  background: black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
}
.ColorPicker-colorSwatch-active:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* WebKit/Blink */
::selection {
  background: #ccc;
}
/* Gecko */
::-moz-selection {
  background: #ccc;
}

/* Toolbar */

.Toolbar {
  background-image: linear-gradient(180deg,#495861 0,#53615f);
  border-width: 1px 1px 0;
  border-color: #000;
  border-style: solid;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075);

  padding: 5px;
}
.Toolbar .btn-default {
  background-image: linear-gradient(180deg,#666 0,#615753);
  border-color: #111;
  color: #e5e5e5;
  text-shadow: 0 1px 0 #111;
  background-color: #333;
  border-radius: 0;
}

/* Code block bootstrap override */

.GuildEditor-editor pre {
  border: 0; 
  padding: 0;
  background-color: transparent;
}
.public-DraftStyleDefault-pre > pre {
  margin: 10px 0;
  padding: 15px;
  background-color: #f5f5f5;
}



/*.public-DraftStyleDefault-block > span {
  display: inline-block;
}*/


.times { font-family: 'Times New Roman', Times, serif; }
.comic-sans { font-family: 'Comic Sans MS', cursive, sans-serif; }
.courier { font-family: 'Courier New', Courier, monospace; }

.red1 { color: #f7976a; }
.orangered1 { color: #f9ad81; }
.orange1 { color: #fdc68a; }
.yellow1 { color: #fff79a; }
.lime1 { color: #c4df9b; }
.green1 { color: #a2d39c; }
.forest1 { color: #82ca9d; }
.teal1 { color: #7bcdc8; }
.sky1 { color: #6ecff6; }
.blue1 { color: #7ea7d8; }
.navy1 { color: #8493ca; }
.indigo1 { color: #8882be; }
.bluepurple1 { color: #a187be; }
.purple1 { color: #bc8dbf; }
.pink1 { color: #f49ac2; }
.redpink1 { color: #f6989d; }
.red2 { color: #ed1c24; }
.orangered2 { color: #f26522; }
.orange2 { color: #f7941d; }
.yellow2 { color: #fff200; }
.lime2 { color: #8dc73f; }
.green2 { color: #39b54a; }
.forest2 { color: #00a651; }
.teal2 { color: #00a99d; }
.sky2 { color: #00aeef; }
.blue2 { color: #0072bc; }
.navy2 { color: #0054a6; }
.indigo2 { color: #2e3192; }
.bluepurple2 { color: #662d91; }
.purple2 { color: #92278f; }
.pink2 { color: #ec008c; }
.redpink2 { color: #ed145b; }
.red3 { color: #9e0b0f; }
.orangered3 { color: #a0410d; }
.orange3 { color: #a36209; }
.yellow3 { color: #aba000; }
.lime3 { color: #598527; }
.green3 { color: #1a7b30; }
.forest3 { color: #007236; }
.teal3 { color: #00746b; }
.sky3 { color: #0076a3; }
.blue3 { color: #004b80; }
.navy3 { color: #003471; }
.indigo3 { color: #1b1464; }
.bluepurple3 { color: #440e62; }
.purple3 { color: #630460; }
.pink3 { color: #9e005d; }
.redpink3 { color: #9e0039; }

/* Don't show inline styles in code blocks */

pre .times,
pre .comic-sans,
pre .courier {
  font-family: inherit;
}

pre .red1,
pre .orangered1,
pre .orange1,
pre .yellow1,
pre .lime1,
pre .green1,
pre .forest1,
pre .teal1,
pre .sky1,
pre .blue1,
pre .navy1,
pre .indigo1,
pre .bluepurple1,
pre .purple1,
pre .pink1,
pre .redpink1,
pre .red2,
pre .orangered2,
pre .orange2,
pre .yellow2,
pre .lime2,
pre .green2,
pre .forest2,
pre .teal2,
pre .sky2,
pre .blue2,
pre .navy2,
pre .indigo2,
pre .bluepurple2,
pre .purple2,
pre .pink2,
pre .redpink2,
pre .red3,
pre .orangered3,
pre .orange3,
pre .yellow3,
pre .lime3,
pre .green3,
pre .forest3,
pre .teal3,
pre .sky3,
pre .blue3,
pre .navy3,
pre .indigo3,
pre .bluepurple3,
pre .purple3,
pre .pink3,
pre .redpink3 {
  color: inherit !important;
}
